﻿@model IEnumerable<MovieShop.Entities.MovieCast>

<p>
    This is a Cast Id Movie
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Id)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Name)*@
                @*@Html.ActionLink(item.Name, "Details", new { id = item.Id })*@
            </td>
            <td>
            </td>
        </tr>
    }

</table>

