﻿@model MovieShop.MVC.ViewModel.CastDetailsViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cast</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdbUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdbUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePath)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProfilePath)*@
            <img src="@Model.ProfilePath" alt="Selfie">


        </dd>

    </dl>

</div>

<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Title</td>
        </tr>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
            <tr>
                <td>@movie.Id</td>
                @*<td>@movie.Title</td>*@
                <td>@Html.ActionLink(movie.Title, "Edit", new { id = Model.Id })</td>
            </tr>
            }
        </tbody>      
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
