﻿@model IEnumerable<MovieShop.Entities.Cast>

@{
    ViewBag.Title = "Index";
}

<h2>
    Index
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TmdbUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TmdbUrl)*@
            @*<a href="@Url.Action(item.TmdbUrl, "TmdbUrl")" class="fas fa-external-link-alt"></a>*@
            @*@Html.ActionLink("logo", "Details", "", new { @class = "fas fa-external-link-alt" })*@
            <a href="@item.TmdbUrl">
                <img alt="Qries" src="https://img.icons8.com/dusk/64/000000/external-link.png"
                     width="70" height="70">
            </a>
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ProfilePath)*@
            <img src="@item.ProfilePath" alt="Selfie" height="100" width="100">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
