﻿@model MovieShop.MVC.ViewModel.CrewDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Movies Details</h2>
<h3>Cast Info:</h3>

<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>PosterURL</td>
            <td>Revenue</td>
            <td>ImdbUrl</td>

        </tr>
    </table>
</div>

<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Title</td>
        </tr>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Id</td>
                    @*<td>@movie.Title</td>*@
                    <td>@Html.ActionLink(movie.Title, "Edit", new { id = Model.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
