﻿@model List<MovieShop.Entities.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Top Grossing Movies</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Revenue</th>
            <th>Released Date</th>
        </tr>
        @foreach (var movie in Model)
        {
    <tr>
        <td>
            @movie.Id
        </td>
        <td>
            @movie.Title
        </td>
        <td>
            @movie.Revenue
        </td>
        <td>
            @movie.ReleaseDate
        </td>
    </tr>
        }
    </thead>
</table>

