﻿@model MovieShop.MVC.ViewModel.CrewDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Crew Details</h2>

<div>
    <h4>Cast</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

</div>


<div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>PosterURL</td>
            <td>Revenue</td>
            <td>ImdbUrl</td>

        </tr>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.PosterUrl</td>
                <td>@movie.Revenue</td>
                <td>@movie.ImdbUrl</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
